<%= render "layouts/navbar" %>
<section id="hero" class="">
    <h2 class="section-heading">Welcome to A&W</h2>
</section>
<section>

    <section id="about" class="">
        <h2 class="section-heading aboutus-heading">About Us</h2>
        <h2 class="section-heading aboutus-subheading">Our Story is a good one</h2>
        <p>Good food makes good food, but there's more to our story than that. From introducing recyclable and compostable packaging to fundraising to support Canadians living with Multiple Sclerosis, we strive to make a positive impact in our community.</p>
        <p>A&W is a proud canadian franchise that has been serving Canadians for 106 years.</p>
    </section>
    <section id="faq" class="">
        <h2 class="section-heading">FAQ</h2>
        <!-- FAQ content -->
    </section>
</section>