/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
  --text-xs: 0.75rem;
  --text-xs-line-height: 1;

  --text-sm: 0.875rem;
  --text-sm-line-height: 1.42857;

  --text-base: 1rem;
  --text-base-line-height: 1.5;

  --text-lg: 1.125rem;
  --text-lg-line-height: 1.55556;

  --text-xl: 1.25rem;
  --text-xl-line-height: 1.4;

  --text-2xl: 1.5rem;
  --text-2xl-line-height: 1.33333;

  --text-3xl: 1.875rem;
  --text-3xl-line-height: 1.2;

  --text-4xl: 2.25rem;
  --text-4xl-line-height: 1.11111;

  --text-5xl: 3rem;
  --text-5xl-line-height: 1;

  --text-6xl: 3.75rem;
  --text-6xl-line-height: 1;

  --text-7xl: 4.5rem;
  --text-7xl-line-height: 1;

  --text-8xl: 6rem;
  --text-8xl-line-height: 1;

  --text-9xl: 8rem;
  --text-9xl-line-height: 1;
}   

$primary-color: #f97316;

@media(min-width: 768px) {
    .nav-container, .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .navbar {
        margin: 0 3rem;
        font-size: var(--text-lg);
    }
}

.navbar {
    flex-direction: column;
}

.navlinks {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
