<div class="cart">
    <%= link_to cart_path, class: "button is-dark" do %>
    <span class="icon">
        <i class="fas fa-shopping-cart"></i>
    </span>
    <% if session[:cart].present? && session[:cart].values.sum > 0 %>
    <span class="tag is-primary is-rounded">
        <%= session[:cart].values.sum %>
    </span>
    <% end %>
    <% end %>
</div>